@font-face {
  font-family: 'MONTSERRAT';
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MONTSERRAT';
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'MONTSERRAT';
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'MONTSERRAT';
  src: url('../fonts/montserrat/Montserrat-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'OPEN_SANS';
  src: url('../fonts/openSans/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'OPEN_SANS';
  src: url('../fonts/openSans/OpenSans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'OPEN_SANS';
  src: url('../fonts/openSans/OpenSans-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'OPEN_SANS';
  src: url('../fonts/openSans/OpenSans-Light.ttf');
  font-weight: 300;
}
