/*** Fonts ***/
$base-font-size: 16px;
$base-line-height: 1.8;
$text-font: 'LATO', sans-serif;
$headline-font: 'TRAJAN_SANS_PRO', sans-serif;

/*** Colors ***/
$white: #fff;
$black: #212121;
$black-light: #57575e;
$white-dark: #FFF9F6;

$blue: #0048F8;
$red: #F03749;
$grey: #DBDBDB;

/*** Mixins ***/
@mixin transition($duration: 400ms, $cubic-bezier: cubic-bezier(0.075, 0.82, 0.165, 1)) {
  transition: all $duration $cubic-bezier;
}
